<div class="container">
  <h1 class="text-primary">My Projects</h1>
  <ul class="list-group">
    <li class="list-group-item border-0">
      <a [routerLink]="'/cart-products'" class="btn btn-primary border-0">Cart Products</a>
    </li>
    <li class="list-group-item border-0">
      <a [routerLink]="'/4layout'" class="btn btn-secondary">4 Layout (simple layout)</a>
    </li>
    <li class="list-group-item border-0">
      <a [routerLink]="'/credit-card-layout'" class="btn btn-success ">Credit Card Layout (simple layout)</a>
    </li>
    <li class="list-group-item border-0">
      <a [routerLink]="'/contact-app'" class="btn btn-danger">Contact App</a>
    </li>
    <li class="list-group-item border-0">
      <a [routerLink]="'/todolist'" class="btn btn-warning">Todo list (with signals)</a>
    </li>
  </ul>
</div>
