<div class="container">
  <h1 class="text-primary">{{ 'PROJECTS_LIST.TITLE' | translate}}</h1>
  <ul class="list-group">
    <li class="list-group-item border-0">
      <a [routerLink]="'/cart-products'" class="btn btn-primary border-0"> {{ 'PROJECTS_LIST.PRODUCTS' | translate}} </a>
    </li>
    <li class="list-group-item border-0">
      <a [routerLink]="'/4layout'" class="btn btn-secondary"> {{ 'PROJECTS_LIST.LAYOUT_FOUR' | translate}}</a>
    </li>
    <li class="list-group-item border-0">
      <a [routerLink]="'/credit-card-layout'" class="btn btn-success ">{{ 'PROJECTS_LIST.CREDIT_CARD' | translate}}</a>
    </li>
    <li class="list-group-item border-0">
      <a [routerLink]="'/contact-app'" class="btn btn-danger">{{ 'PROJECTS_LIST.CONTACT_APP' | translate}}</a>
    </li>
    <li class="list-group-item border-0">
      <a [routerLink]="'/todolist'" class="btn btn-warning">{{ 'PROJECTS_LIST.TODO_LIST' | translate}}</a>
    </li>
    <li class="list-group-item border-0">
      <a [routerLink]="'/languageProject'" class="btn btn-secondary">{{ 'PROJECTS_LIST.LANGAUGE_SIMPLE_PROJECT' | translate}}</a>
    </li>
  </ul>
</div>
