
<div class="card-list">
  <div *ngFor="let user of users" class="card">
    <div class="info-content">
    <h3>{{ user.email }} - {{user.role}}</h3>
    </div>
    <div class="button-group">
      <div class="circle" [ngClass]="user.active ? 'button-green' : 'button-red'"
      (click)="onToggleUserStatus(user, !user.active)">
    </div>
    <div class="container-status-text">
      {{ getStatus(user) }}
    </div>
    <button (click)="openChangePasswordModal(user)">Change Password</button>
    </div>
  </div>
</div>
<!-- Modal for changing password -->
<app-change-password-modal *ngIf="isModalOpen" [user]="currentSelectedUser"
  (closeModalE)="closePasswordModal()"></app-change-password-modal>
