
.container{
  display: flex;
  justify-content: center;
}

.user-container{
  background-color: aquamarine;
  gap:10px;
  padding: 10px;

  .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;

  }


  .button-green{
    background-color: green;
  }
  .button-red{
    background-color: red;
  }
}





