.login-container {
  display: flex;
  justify-content: center;
  padding-top: 10%;
  padding-bottom: 10%;


  form {
    background-color: aliceblue;
    border-radius: 3%;
    width: 50%;


    @media (max-width: 900px) {
      width: 80%;
    }


  }

  .title {
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .button-actions {
    display: flex;
    justify-content: center;
    padding: 20px;
    gap: 10px;

    button.button-edit {
      padding: 5px;
    }
  }

  .error-container {
    color: red;
    border: 1px solid red;
    padding: 5px;
    margin-top: 5px;
    background-color: #ffe5e5;
    border-radius: 5px;
  }

  .add-cursor {
    cursor: pointer;
  }


  .email_input {
    padding: 10px;
  }


  .password_input {
    padding: 10px;
  }

  input{
    padding: 10px; /* Adds 10px of padding inside the input box */
    width: 100%;   /* Ensures the input takes up full available width */
    box-sizing: border-box; /* Ensures padding is included in the total width */
    border: 1px solid #ccc; /* Adds a border around the input */
    border-radius: 4px; /* Slightly rounds the corners */
  }


  .error-border {
    border-width: 2px;
    border-color: red;

  }
}
