<div *ngIf="isLoading">Loading...</div>
<div class="container-form" *ngIf="!isLoading">
  <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

    <div class="title">
      <h1 *ngIf="(selectedContact$ | async)?.id === -1">New Contact</h1>
      <h1 *ngIf="(selectedContact$ | async)?.id !== -1">Edit current contact</h1>
    </div>

    <div class="firstName_input">
      <label for="firstName">First Name: </label>
      <input id="firstName" formControlName="firstName" type="text" [class.error-border]="firstName.invalid && firstName.touched"/>
      <div *ngIf="firstName?.invalid && firstName?.touched"
        class="error-container">
        <small *ngIf="firstName?.errors?.['required']">FirstName is required</small>
        <small *ngIf="firstName.errors?.['minlength']">
          firstName must be at least 3 characters long
        </small>
      </div>
    </div>


    <div class="email_input">
      <label for="email">Email: </label>
      <input id="email" formControlName="email" type="email" />
      <div *ngIf="email?.invalid && email?.touched" class="error-container">
        <small *ngIf="email?.errors?.['email']">Enter a valid email</small>
      </div>
    </div>

    <div class="alias_input">
      <label for="alias">Alias: </label>
      <input id="alias" formControlName="alias" type="text" [class.error-border]="alias.invalid && alias.touched"/>
      <div *ngIf="alias?.invalid && alias?.touched" class="error-container">
        <small *ngIf="alias?.errors?.['required']">Alias is required</small>
      </div>
    </div>

    <div class="lastName_input">
      <label for="lastName">Last Name: </label>
      <input id="lastName" formControlName="lastName" type="text" [class.error-border]="lastName.invalid && lastName.touched"/>
      <div *ngIf="lastName?.invalid && lastName.touched" class="error-container">
        <small *ngIf="lastName?.errors?.['required']">LastName is required</small>
        <small *ngIf="lastName?.errors?.['minlength']">Last name must be at least 3 characters long</small>
      </div>
    </div>


    <div class="phone_input">
      <label for="phone">Phone Number (XXX-XXXXXX): </label>
      <input id="phoneNo" formControlName="phoneNo" type="text" [class.error-border]="phoneNo.invalid && phoneNo.touched" />
      <div *ngIf="phoneNo?.invalid && phoneNo?.touched" class="error-container">
        <small *ngIf="phoneNo?.errors?.['required']">Phone number is required</small>
        <small *ngIf="phoneNo?.errors?.['phoneFormat']">
          Phone number must be in the format XXX-XXXXXX
        </small>
      </div>
    </div>

    <div class="category_input">
      <label for="Category">Category: </label>
      <select id="categoryId" formControlName="categoryId">
        <option *ngFor="let category of this.categoriesService.getCategories() | async" [value]="category.id">
          {{ category.name }}
        </option>
      </select>
      <div *ngIf="category?.invalid && category?.touched" class="error-container">
        <small *ngIf="category?.errors?.['required']">Category field is required</small>

      </div>
    </div>

    <div class="button-actions">
      <button class="button" type="submit" [disabled]="contactForm.invalid">Save</button>
      <button class="button" type="button" (click)="resetValues()"> {{ isEditing ? 'Revert' : 'Reset' }} </button>
      <button class="button" type="button" (click)="closePopUp()">Close</button>
    </div>
  </form>
</div>
