.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.title {
  text-align: center;
}

.action-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.welcome-text {
  margin-right: 20px;
}


.bold {
  font-weight: bold;
}

.log-out , .user-admin{
  padding: 5px;
}
