<div class="container">
  <div class="yellow"></div>
  <div class="red"></div>
  <div class="green"></div>
  <div class="blue"></div>
</div>

  <header>
    <div class="wrapper wrapper--narrow">
      <h1>Reliable, efficient delivery
        <span>Powered by Technology</span>
      </h1>
      <p>Our Artificial Intelligence powered tools use millions of project data points to ensure that your project is
        successful</p>
    </div>
  </header>

  <main>
    <div class="wrapper">
      <div class="layout-grid">
          <div class="card border-teal">
            <h2 class="card__title">Supervisour</h2>
            <p>Monitors activity to identify project roadblocks</p>
            <img class="card__image" src="../../assets/svg/icon-supervisor.svg" alt="">
        </div>
          <div class="card border-red">
            <h2 class="card__title">Team Builder</h2>
            <p> Scans our talent network to create the optimal team for your project</p>
            <img class="card__image" src="../../assets/svg/icon-team-builder.svg" alt="">
          </div>
          <div class="card border-yellow">
            <h2 class="card__title">Karma</h2>
            <p>Regularly evaluates our talent to ensure quality</p>
            <img class="card__image" src="../../assets/svg/icon-karma.svg" alt="">
          </div>
          <div class="card border-blu">
            <h2 class="card__title">Calculator</h2>
            <p>Uses data from past projects to provide better delivery estimates</p>
            <img class="card__image" src="../../assets/svg/icon-calculator.svg" alt="">
          </div>

      </div>
    </div>
  </main>

