.contact-item {
  padding: 10px;
  border: 1px solid black;
  border-radius: 3%;

  .id-container {
    padding: 5px;
  }

  .alias-container {
    padding: 5px;
  }

  .phonenumber-container {
    padding: 5px;
  }

  .button-container {
    display: flex;
    justify-content: center;
    padding: 5px;

    button {
      padding: 5px;
      cursor: pointer;
    }
  }
}
