<div class="contact-item" [ngClass]="{'selected': (selectedContact$ | async)?.id === contact.id}">
  <div class="alias-container">
    <strong> Alias: </strong> {{ contact.alias }}
  </div>
  <div class="phonenumber-container">
    <strong> Phone Number: </strong> {{ contact.phoneNo }}
  </div>
  <div class="category-container">
    <strong> Category: </strong> {{ contact.categoryName }}
  </div>
  <div class="button-container">
    <button (click)="openEditForm(contact)" [disabled]="( isFormOpen$ | async)">Go To Details</button>
      <button *appAuth="['Admin']" (click)="deleteContact()" [disabled]="( isFormOpen$ | async)">Delete</button>

  </div>
</div>
