@import "../../assets/variables.less";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.view-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: @Light-Grey;
  width: 100%;
  min-height: 100vh;
  border: 4px solid pink;

/* Media query for screens larger than 900px */
  @media (min-width: 900px) {
    flex-direction: row;
  }

  .banner {
    width: 100%;
    height: 240px;
    background-size: cover;
    background-image: url(../../assets/credit-card/bg-main-mobile.png);
    background-repeat: no-repeat;
    position: relative;
    border: 3px solid yellow;

    @media (min-width: 900px) {
      background-image: url(../../assets/credit-card/bg-main-desktop.png);
      min-height: 100vh;
      max-width: 40%;
    }
  }

  .banner .card-front {
    position: absolute;
    left: 9%;
    top: 49%;
    z-index: 1;
    border: 3px solid green ;

    @media (min-width: 900px) {
      //top: 50%;
     }


    img {

      width: 300px;

      @media (min-width: 900px) {
        width: unset;
      }

      @media (min-width: 1140px) {
        width: unset;
      }


    }

    .card-logo{
      position: absolute;
      top: 4%;
      left: 4%;

      img {
        width: 80%;
        height: 80%;
      }
    }

    .card-detail {
      position: absolute;
      bottom: 11%;
      left: 5%;
      right: 5%;
      display: flex;
      justify-content: space-between;
      font-family: "SpaceGrotesk-regular", sans-serif;
      color: white;
      font-weight: bold;

      @media (min-width: 900px) {
        //top: 30%;
       }
    }

    .card-number {
      position: absolute;
      bottom: 35%;
      left: 4%;
      display: flex;
      justify-content: space-between;
      font-family: "SpaceGrotesk-regular", sans-serif;
      color: white;
      font-weight: bold;

      @media (min-width: 900px) {
        //top: 20%;
       }
    }
  }

  .banner .card-back {
    position: absolute;
    left: 15%;
    top: 6%;
    border: 3px solid red;

    @media (min-width: 900px) {
      top: 28%;
     }

     img {
      width: 300px;

      @media (min-width: 900px) {
        width: unset;
       }

      @media (min-width: 1140px) {
       width: unset;
      }
    }

    .card-cvv {
      position: absolute;
      bottom: 46%;
      right: 11%;
      font-family: "SpaceGrotesk-regular", sans-serif;
      color: white;
      font-weight: bold;
    }
  }
}

.form-container{
  border: 4px solid orange;
    margin-top: 6rem;
    /* Media query for screens larger than 900px */
    @media (min-width: 900px) {
      width: 100%;
      margin-top: unset;
    }
}

form.payment-form {
  max-width: 500px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  font-family: "SpaceGrotesk-regular", sans-serif;
  font-weight: 600;
  margin: auto;

  /* Media query for screens larger than 900px */
  @media (min-width: 900px) {
    min-width: 600px;
  }

  input {
    border-radius: 6px;
    border: 1px solid;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 8px;
  }

  .expiration_cvv_group {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;

    .expiration-fields {
      margin-top: 2px;
      width: 50%;

      input {
        max-width: 60px;
      }
    }

    .expiration-inputs {
      display: flex;
      gap: 10px;
    }

    .cvv_group {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      width: auto;
    }
  }

  button.confirm_button {
    padding: 15px;
    background: @Card_Primary;
    color: @White;
    border-radius: 5px;
    border: none;
  }

  .invalid {
    border: 2px solid red;
  }

  .valid {
    border: 2px solid green;
  }

  .error-text {
    color: red;
    font-size: 0.8rem;
    margin-bottom: 8px;
  }

  input:focus {
    outline: none;
  }
}
