@text-Red: hsl(14, 86%, 42%);
@text-Green: hsl(159, 69%, 38%);


@text_Rose-50: hsl(20, 50%, 98%);
@text_Rose-100: hsl(13, 31%, 94%);
@text_Rose-300: hsl(14, 25%, 72%);
@text_Rose-400: hsl(7, 20%, 60%);
@text_Rose-500: hsl(12, 20%, 44%);
@text_Rose-900: hsl(14, 65%, 9%);
