.alphabet{
  display: flex;
  flex-direction: row;
  justify-content: space-around;


  p.letter{
    cursor: pointer;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
  }

  .selected-letter {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
  }

}

.card-display{
  display: flex;
  justify-content: center;
  gap: 15px;
}

.action-buttons{
  margin-top: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;

  button.add-action{
    padding: 15px;
  }
}

.no-contacts-message{
  display: flex;
  justify-content: center;
}
